# Build results
bin/
obj/
out/

# NuGet
*.nupkg
.nuget/
packages/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
